extends layout

block content
  body
    .layui-fluid
      .layui-row
        form.layui-form
          .layui-form-item
            label.layui-form-label(for='username')
              span.x-red *
              | title
            .layui-input-inline
              input#username.layui-input(type='text', name='title', required='', lay-verify='required', autocomplete='off',value=''+data.title)
            .layui-form-mid.layui-word-aux
              span.x-red *
              | 课程名，必填
          .layui-form-item
            label.layui-form-label
              | pictureurl_s 
            .layui-input-block
              input.layui-input(type='text', name='pictureurl_s', required='', autocomplete='off',value=''+data.picture_s)
            .layui-form-mid.layui-word-aux
              | 简介配图
          .layui-form-item
            label.layui-form-label
              | pictureurl_m
            .layui-input-block
              input.layui-input(type='text', name='pictureurl_m', required='', autocomplete='off',value=''+data.pictureurl_m)
            .layui-form-mid.layui-word-aux
              | 详情配图
          .layui-form-item
            label.layui-form-label
              | availability
            .layui-input-block
              input.layui-input(type='text', name='availability', required='', autocomplete='off',value=''+data.availability)
            .layui-form-mid.layui-word-aux
              span.x-red *
              | 可获得性
          .layui-form-item
            label.layui-form-label
              | introduction
            .layui-input-block
              input.layui-input(type='text', name='introduction', required='', autocomplete='off',value=''+data.introduction)
            .layui-form-mid.layui-word-aux
              | 课程简介
          .layui-form-item
            label.layui-form-label
              | classfication
            .layui-input-block
              input.layui-input(type='text', name='classfication', required='', autocomplete='off',value=''+data.classfication)
            .layui-form-mid.layui-word-aux
              | 课程类别
          .layui-form-item
            label.layui-form-label
              | detail
            .layui-input-block
              input.layui-input(type='text', name='detail', required='', autocomplete='off',value=''+data.detail)
            .layui-form-mid.layui-word-aux
              | 课程详细内容
          .layui-form-item
            label.layui-form-label
              | tags
            .layui-input-block
              input.layui-input(type='text', name='tags', required='', autocomplete='off',value=''+data.tags)
            .layui-form-mid.layui-word-aux
              | 课程标签，逗号隔开
          .layui-form-item
            label.layui-form-label
              | features
            .layui-input-block
              input.layui-input(type='text', name='features', required='', autocomplete='off',value=''+data.features)
            .layui-form-mid.layui-word-aux
              | 课程特征
          .layui-form-item
            label.layui-form-label(for='L_repass')
            button.layui-btn(lay-filter='add', lay-submit='')
              | 修改
    script.
      //监听提交
      $('.layui-btn').click(()=>{
        //- console.log('******Ajax******')
        $.ajax({
          url: "/course-edit/"+#{data.id},
          data: $('.layui-form').serialize(),
          type: "POST",
          cache: false,
          dataType: 'json',
          success: function(msg){
            switch(msg.resData){
              case 1:
                layer.alert("修改成功", {icon: 6},()=>{
                  //关闭当前frame
                  xadmin.close();
                // 可以对父窗口进行刷新
                  xadmin.father_reload();
              });
              break;
              case 2:
                layer.alert("用户名已存在", {icon: 6},()=>{xadmin.close();});
            }
          },
          error: function (msg) {
              layer.alert("失败", {icon: 6},()=>{
              xadmin.close();
            });
          }
        });
      })
      layui.use(['form', 'layer'],
      function() {
      $ = layui.jquery;
      var form = layui.form,
      layer = layui.layer;
      //自定义验证规则
      form.verify({
      nikename: function(value) {
      if (value.length < 5) {
      return '昵称至少得5个字符啊';
      }
      },
      pass: [/(.+){6,12}$/, '密码必须6到12位'],
      repass: function(value) {
      if ($('#L_pass').val() != $('#L_repass').val()) {
      return '两次密码不一致';
      }
      }
      });
      //监听提交
      form.on('submit(add)',
      function(data) {
      console.log(data);
      //发异步，把数据提交给php
      //- layer.alert("添加成功", {
      //- icon: 6
      //- },
      //- function() {
      //- //关闭当前frame
      //- xadmin.close();
      // 可以对父窗口进行刷新
      //- xadmin.father_reload();
      //- });
      return false;
      });
      });
    script.
      var _hmt = _hmt || []; (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      })();
