extends layout

block content
  body.index
    // 顶部开始
    .container
      .logo
        a(href='./index') LVR-Admin v0.1
      .left_open
        a
          i.iconfont(title='展开左侧栏') 
      //- ul.layui-nav.left.fast-add(lay-filter='')
      //-   li.layui-nav-item
      //-     a(href='javascript:;') +新增
      //-     dl.layui-nav-child
      //-       // 二级菜单
      //-       dd
      //-         a(onclick="xadmin.open('最大化','http://www.baidu.com','','',true)")
      //-           i.iconfont 
      //-           | 弹出最大化
      //-       dd
      //-         a(onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')")
      //-           i.iconfont 
      //-           | 弹出自动宽高
      //-       dd
      //-         a(onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)")
      //-           i.iconfont 
      //-           | 弹出指定宽高
      //-       dd
      //-         a(onclick="xadmin.add_tab('在tab打开','member-list')")
      //-           i.iconfont 
      //-           | 在tab打开
      //-       dd
      //-         a(onclick="xadmin.add_tab('在tab打开刷新','member-del',true)")
      //-           i.iconfont 
      //-           | 在tab打开刷新
      ul.layui-nav.right(lay-filter='')
        li.layui-nav-item
          a(href='javascript:;') #{session.user}
          dl.layui-nav-child
            // 二级菜单
            //- dd
            //-   a(onclick="xadmin.open('个人信息','http://www.baidu.com')") 个人信息
            //- dd
            //-   a(onclick="xadmin.open('切换帐号','login')") 切换帐号
            dd
              a(href='./logout') 退出
        li.layui-nav-item.to-index
          a(href='http://longervisionrobot.com') 前台首页
    // 顶部结束
    // 中部开始
    // 左侧菜单开始
    .left-nav
      #side-nav
        ul#nav
          li
            a(href='javascript:;')
              i.iconfont.left-nav-li(lay-tips='用户管理') 
              cite 用户管理
              i.iconfont.nav_right 
            ul.sub-menu
              li
                a(onclick="xadmin.add_tab('用户列表','member-list')")
                  i.iconfont 
                  cite 用户列表
              li
                a(onclick="xadmin.add_tab('订阅列表','subscriber-list')")
                  i.iconfont 
                  cite 订阅列表
              li
                a(onclick="xadmin.add_tab('用户删除','member-del')")
                  i.iconfont 
                  cite 用户删除
              li
                a(href='javascript:;')
                  i.iconfont 
                  cite 用户管理
                  i.iconfont.nav_right 
                ul.sub-menu
                  li
                    a(onclick="xadmin.add_tab('用户删除','member-del')")
                      i.iconfont 
                      cite 用户删除
                  //- li
                  //-   a(onclick="xadmin.add_tab('等级管理','member-list1')")
                  //-     i.iconfont 
                  //-     cite 等级管理
              li
                a(onclick="xadmin.add_tab('统计页面','welcome1')")
                  i.iconfont 
                  cite 统计页面 
          li
            a(href='javascript:;')
              i.iconfont.left-nav-li(lay-tips='课程管理') 
              cite 课程管理
              i.iconfont.nav_right 
            ul.sub-menu
              li
                a(onclick="xadmin.add_tab('课程列表','course-list')")
                  i.iconfont 
                  cite 课程列表
          li
            a(href='javascript:;')
              i.iconfont.left-nav-li(lay-tips='管理员管理') 
              cite 管理员管理
              i.iconfont.nav_right 
            ul.sub-menu
              li
                a(onclick="xadmin.add_tab('管理员列表','admin-list')")
                  i.iconfont 
                  cite 管理员列表
              //- li
              //-   a(onclick="xadmin.add_tab('角色管理','admin-role')")
              //-     i.iconfont 
              //-     cite 角色管理
              //- li
              //-   a(onclick="xadmin.add_tab('权限分类','admin-cate')")
              //-     i.iconfont 
              //-     cite 权限分类
              //- li
              //-   a(onclick="xadmin.add_tab('权限管理','admin-rule')")
              //-     i.iconfont 
              //-     cite 权限管理
          //- li
          //-   a(href='javascript:;')
          //-     i.iconfont.left-nav-li(lay-tips='分类管理') 
          //-     cite 分类管理
          //-     i.iconfont.nav_right 
          //-   ul.sub-menu
          //-     li
          //-       a(onclick="xadmin.add_tab('多级分类','cate')")
          //-         i.iconfont 
          //-         cite 多级分类
          //- li
          //-   a(href='javascript:;')
          //-     i.iconfont.left-nav-li(lay-tips='城市联动') 
          //-     cite 城市联动
          //-     i.iconfont.nav_right 
          //-   ul.sub-menu
          //-     li
          //-       a(onclick="xadmin.add_tab('三级地区联动','city')")
          //-         i.iconfont 
          //-         cite 三级地区联动
          
          //- li
          //-   a(href='javascript:;')
          //-     i.iconfont.left-nav-li(lay-tips='系统统计') 
          //-     cite 系统统计
          //-     i.iconfont.nav_right 
          //-   ul.sub-menu
          //-     li
          //-       a(onclick="xadmin.add_tab('拆线图','echarts1')")
          //-         i.iconfont 
          //-         cite 拆线图
          //-     li
          //-       a(onclick="xadmin.add_tab('拆线图','echarts2')")
          //-         i.iconfont 
          //-         cite 拆线图
          //-     li
          //-       a(onclick="xadmin.add_tab('地图','echarts3')")
          //-         i.iconfont 
          //-         cite 地图
          //-     li
          //-       a(onclick="xadmin.add_tab('饼图','echarts4')")
          //-         i.iconfont 
          //-         cite 饼图
          //-     li
          //-       a(onclick="xadmin.add_tab('雷达图','echarts5')")
          //-         i.iconfont 
          //-         cite 雷达图
          //-     li
          //-       a(onclick="xadmin.add_tab('k线图','echarts6')")
          //-         i.iconfont 
          //-         cite k线图
          //-     li
          //-       a(onclick="xadmin.add_tab('热力图','echarts7')")
          //-         i.iconfont 
          //-         cite 热力图
          //-     li
          //-       a(onclick="xadmin.add_tab('仪表图','echarts8')")
          //-         i.iconfont 
          //-         cite 仪表图
          //- li
          //-   a(href='javascript:;')
          //-     i.iconfont.left-nav-li(lay-tips='图标字体') 
          //-     cite 图标字体
          //-     i.iconfont.nav_right 
          //-   ul.sub-menu
          //-     li
          //-       a(onclick="xadmin.add_tab('图标对应字体','unicode')")
          //-         i.iconfont 
          //-         cite 图标对应字体
          li
            a(href='javascript:;')
              i.iconfont.left-nav-li(lay-tips='其它页面') 
              cite 其它页面
              i.iconfont.nav_right 
            ul.sub-menu
              li
                a(href='login', target='_blank')
                  i.iconfont 
                  cite 登录页面
              //- li
              //-   a(onclick="xadmin.add_tab('错误页面','error')")
              //-     i.iconfont 
              //-     cite 错误页面
              //- li
              //-   a(onclick="xadmin.add_tab('示例页面','demo')")
              //-     i.iconfont 
              //-     cite 示例页面
              //- li
              //-   a(onclick="xadmin.add_tab('更新日志','log')")
              //-     i.iconfont 
              //-     cite 更新日志
          //- li
          //-   a(href='javascript:;')
          //-     i.iconfont.left-nav-li(lay-tips='第三方组件') 
          //-     cite layui第三方组件
          //-     i.iconfont.nav_right 
          //-   ul.sub-menu
          //-     li
          //-       a(onclick="xadmin.add_tab('滑块验证','https://fly.layui.com/extend/sliderVerify/')", target='')
          //-         i.iconfont 
          //-         cite 滑块验证
          //-     li
          //-       a(onclick="xadmin.add_tab('富文本编辑器','https://fly.layui.com/extend/layedit/')")
          //-         i.iconfont 
          //-         cite 富文本编辑器
          //-     li
          //-       a(onclick="xadmin.add_tab('eleTree 树组件','https://fly.layui.com/extend/eleTree/')")
          //-         i.iconfont 
          //-         cite eleTree 树组件
          //-     li
          //-       a(onclick="xadmin.add_tab('图片截取','https://fly.layui.com/extend/croppers/')")
          //-         i.iconfont 
          //-         cite 图片截取
          //-     li
          //-       a(onclick="xadmin.add_tab('formSelects 4.x 多选框','https://fly.layui.com/extend/formSelects/')")
          //-         i.iconfont 
          //-         cite formSelects 4.x 多选框
          //-     li
          //-       a(onclick="xadmin.add_tab('Magnifier 放大镜','https://fly.layui.com/extend/Magnifier/')")
          //-         i.iconfont 
          //-         cite Magnifier 放大镜
          //-     li
          //-       a(onclick="xadmin.add_tab('notice 通知控件','https://fly.layui.com/extend/notice/')")
          //-         i.iconfont 
          //-         cite notice 通知控件
    // <div class="x-slide_left"></div>
    // 左侧菜单结束
    // 右侧主体开始
    .page-content
      .layui-tab.tab(lay-filter='xbs_tab', lay-allowclose='false')
        ul.layui-tab-title
          li.home
            i.layui-icon 
            | 我的桌面
        #tab_right.layui-unselect.layui-form-select.layui-form-selected
          dl
            dd(data-type='this') 关闭当前
            dd(data-type='other') 关闭其它
            dd(data-type='all') 关闭全部
        .layui-tab-content
          .layui-tab-item.layui-show
            iframe.x-iframe(src='./welcome', frameborder='0', scrolling='yes')
        #tab_show
    .page-content-bg
    style#theme_style.
    // 右侧主体结束
    // 中部结束
    script.
      //百度统计可去掉
      var _hmt = _hmt || []; (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      })();

