doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font.css')
    link(rel='stylesheet', href='/stylesheets/xadmin.css')
    
    script(type='text/javascript', src='/lib/layui/layui.js')
    script(type='text/javascript', src='/javascripts/xadmin.js')
    
  block content