extends layout

block content
  link(rel='stylesheet', href='/stylesheets/login.css')
  script(type='text/javascript', src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
  body.login-bg
    .login.layui-anim.layui-anim-up
      .message WebAdmin1.0-管理登录
      #darkbannerwrap
      form.layui-form(method='post')
        input.layui-input(name='adminname', placeholder='用户名', type='text', lay-verify='required')
        hr.hr15
        input.layui-input(name='password', lay-verify='required', placeholder='密码', type='password')
        hr.hr15
        input(value='登录', lay-submit='', lay-filter='login', style='width:100%;', type='submit')
        hr.hr20
    script.
      
      $(function  () {
      layui.use('form', function(){
      var form = layui.form;
      // layer.msg('玩命卖萌中', function(){
      //   //关闭后的操作
      //   });
      //监听提交
      form.on('submit(login)', function(data){
        $.ajax({
          url: "/login",
          data: $('.layui-form').serialize(),
          type: "POST",
          cache: false,
          dataType: 'json',
          success: function(msg){
            switch(msg.resData){
              case 1:
                layer.alert("用户名不存在", {icon: 6},()=>{
                // 可以对父窗口进行刷新
                  xadmin.father_reload();
              });
              break;
              case 2:
                layer.alert("密码不正确", {icon: 6},()=>{
                  xadmin.father_reload();
                });
                break;
              case 3:
                layer.alert('登录成功',{icon: 1},()=>{
                })
                setTimeout(()=>{
                  window.location.href = "/"
                },500)
            }
          },
          error: function (msg) {
              layer.alert("失败", {icon: 6},()=>{
              xadmin.father_reload();
            });
          }
        });
      //- })
      return false;
      });
      });
      })
    // 底部结束
    script.
      //百度统计可去掉
      var _hmt = _hmt || [];
      (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      })();

        