extends layout

block content
  body
    .x-nav
      span.layui-breadcrumb
        a(href='') 首页
        a(href='') 演示
        a
          cite 导航元素
      a.layui-btn.layui-btn-small(style='line-height:1.6em;margin-top:3px;float:right', onclick='location.reload()', title='刷新')
        i.layui-icon.layui-icon-refresh(style='line-height:30px')
    .layui-fluid
      .layui-row.layui-col-space15
        .layui-col-md12
          .layui-card
            .layui-card-body
              form.layui-form.layui-col-space5
                .layui-input-inline.layui-show-xs-block
                  input#start.layui-input(placeholder='开始日', name='start')
                .layui-input-inline.layui-show-xs-block
                  input#end.layui-input(placeholder='截止日', name='end')
                .layui-input-inline.layui-show-xs-block
                  select(name='contrller')
                    option 支付方式
                    option 支付宝
                    option 微信
                    option 货到付款
                .layui-input-inline.layui-show-xs-block
                  select(name='contrller')
                    option(value='') 订单状态
                    option(value='0') 待确认
                    option(value='1') 已确认
                    option(value='2') 已收货
                    option(value='3') 已取消
                    option(value='4') 已完成
                    option(value='5') 已作废
                .layui-input-inline.layui-show-xs-block
                  input.layui-input(type='text', name='username', placeholder='请输入订单号', autocomplete='off')
                .layui-input-inline.layui-show-xs-block
                  button.layui-btn(lay-submit='', lay-filter='sreach')
                    i.layui-icon 
            .layui-card-header
              button.layui-btn.layui-btn-danger(onclick='delAll()')
                i.layui-icon 
                | 批量删除
              button.layui-btn(onclick="xadmin.open('添加用户','./order-add',800,600)")
                i.layui-icon 
                | 添加
            .layui-card-body
              table.layui-table.layui-form
                thead
                  tr
                    th
                      input(type='checkbox', name='', lay-skin='primary')
                    th 订单编号
                    th 收货人
                    th 总金额
                    th 应付金额
                    th 订单状态
                    th 支付状态
                    th 发货状态
                    th 支付方式
                    th 配送方式
                    th 下单时间
                    th 操作
                tbody
                  tr
                    td
                      input(type='checkbox', name='', lay-skin='primary')
                    td 2017009171822298053
                    td 老王:18925139194
                    td 7829.10
                    td 7854.10
                    td 待确认
                    td 未支付
                    td 未发货
                    td 其他方式
                    td 申通物流
                    td 2017-08-17 18:22
                    td.td-manage
                      a(title='查看', onclick="xadmin.open('编辑','order-view')", href='javascript:;')
                        i.layui-icon 
                      a(title='删除', onclick="member_del(this,'要删除的id')", href='javascript:;')
                        i.layui-icon 
                  tr
                    td
                      input(type='checkbox', name='', lay-skin='primary')
                    td 2017009171822298053
                    td 老王:18925139194
                    td 7829.10
                    td 7854.10
                    td 待确认
                    td 未支付
                    td 未发货
                    td 其他方式
                    td 申通物流
                    td 2017-08-17 18:22
                    td.td-manage
                      a(title='查看', onclick="xadmin.open('编辑','order-view')", href='javascript:;')
                        i.layui-icon 
                      a(title='删除', onclick="member_del(this,'要删除的id')", href='javascript:;')
                        i.layui-icon 
                  tr
                    td
                      input(type='checkbox', name='', lay-skin='primary')
                    td 2017009171822298053
                    td 老王:18925139194
                    td 7829.10
                    td 7854.10
                    td 待确认
                    td 未支付
                    td 未发货
                    td 其他方式
                    td 申通物流
                    td 2017-08-17 18:22
                    td.td-manage
                      a(title='查看', onclick="xadmin.open('编辑','order-view')", href='javascript:;')
                        i.layui-icon 
                      a(title='删除', onclick="member_del(this,'要删除的id')", href='javascript:;')
                        i.layui-icon 
            .layui-card-body
              .page
                div
                  a.prev(href='') <<
                  a.num(href='') 1
                  span.current 2
                  a.num(href='') 3
                  a.num(href='') 489
                  a.next(href='') >>
    script.
      layui.use(['laydate', 'form'],
      function() {
      var laydate = layui.laydate;
      //执行一个laydate实例
      laydate.render({
      elem: '#start' //指定元素
      });
      //执行一个laydate实例
      laydate.render({
      elem: '#end' //指定元素
      });
      });
      /*用户-停用*/
      function member_stop(obj, id) {
      layer.confirm('确认要停用吗？',
      function(index) {
      if ($(obj).attr('title') == '启用') {
      //发异步把用户状态进行更改
      $(obj).attr('title', '停用');
      $(obj).find('i')('&#xe62f;');
      $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled')('已停用');
      layer.msg('已停用!', {
      icon: 5,
      time: 1000
      });
      } else {
      $(obj).attr('title', '启用');
      $(obj).find('i')('&#xe601;');
      $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled')('已启用');
      layer.msg('已启用!', {
      icon: 5,
      time: 1000
      });
      }
      });
      }
      /*用户-删除*/
      function member_del(obj, id) {
      layer.confirm('确认要删除吗？',
      function(index) {
      //发异步删除数据
      $(obj).parents("tr").remove();
      layer.msg('已删除!', {
      icon: 1,
      time: 1000
      });
      });
      }
      function delAll(argument) {
      var data = tableCheck.getData();
      layer.confirm('确认要删除吗？' + data,
      function(index) {
      //捉到所有被选中的，发异步进行删除
      layer.msg('删除成功', {
      icon: 1
      });
      $(".layui-form-checked").not('.header').parents('tr').remove();
      });
      }
