extends layout

block content
  body.index
    .layui-fluid
      .layui-row.layui-col-space15
        .layui-col-md12
          .layui-card
            .layui-card-body
              blockquote.layui-elem-quote
                | 欢迎管理员：
                span.x-red test
                | ！当前时间:2018-04-25 20:50:53
        .layui-col-md12
          .layui-card
            .layui-card-header 数据统计
            .layui-card-body
              ul.layui-row.layui-col-space10.layui-this.x-admin-carousel.x-admin-backlog
                li.layui-col-md2.layui-col-xs6
                  a.x-admin-backlog-body(href='javascript:;')
                    h3 用户数
                    p
                      cite #{dataUsers.length}
                li.layui-col-md2.layui-col-xs6
                  a.x-admin-backlog-body(href='javascript:;')
                    h3 日访数
                    p
                      cite 12
                li.layui-col-md2.layui-col-xs6
                  a.x-admin-backlog-body(href='javascript:;')
                    h3 总访数
                    p
                      cite 99
                li.layui-col-md2.layui-col-xs6
                  a.x-admin-backlog-body(href='javascript:;')
                    h3 在线数
                    p
                      cite 67
                li.layui-col-md2.layui-col-xs6
                  a.x-admin-backlog-body(href='javascript:;')
                    h3 订阅数
                    p
                      cite #{dataSubersLength}
                li.layui-col-md2.layui-col-xs6
                  a.x-admin-backlog-body(href='javascript:;')
                    h3 回复数
                    p
                      cite 6766
        .layui-col-sm6.layui-col-md3
          .layui-card
            .layui-card-header
              | 下载
              span.layui-badge.layui-bg-cyan.layuiadmin-badge 月
            .layui-card-body
              p.layuiadmin-big-font 33,555
              p
                | 新下载
                span.layuiadmin-span-color
                  | 10%
                  i.layui-inline.layui-icon.layui-icon-face-smile-b
        .layui-col-sm6.layui-col-md3
          .layui-card
            .layui-card-header
              | 下载
              span.layui-badge.layui-bg-cyan.layuiadmin-badge 月
            .layui-card-body
              p.layuiadmin-big-font 33,555
              p
                | 新下载
                span.layuiadmin-span-color
                  | 10%
                  i.layui-inline.layui-icon.layui-icon-face-smile-b
        .layui-col-sm6.layui-col-md3
          .layui-card
            .layui-card-header
              | 下载
              span.layui-badge.layui-bg-cyan.layuiadmin-badge 月
            .layui-card-body
              p.layuiadmin-big-font 33,555
              p
                | 新下载
                span.layuiadmin-span-color
                  | 10%
                  i.layui-inline.layui-icon.layui-icon-face-smile-b
        .layui-col-sm6.layui-col-md3
          .layui-card
            .layui-card-header
              | 下载
              span.layui-badge.layui-bg-cyan.layuiadmin-badge 月
            .layui-card-body
              p.layuiadmin-big-font 33,555
              p
                | 新下载
                span.layuiadmin-span-color
                  | 10%
                  i.layui-inline.layui-icon.layui-icon-face-smile-b
        .layui-col-md12
          .layui-card
            .layui-card-header 系统信息
            .layui-card-body
              table.layui-table
                tbody
                  tr
                    th 后台管理系统版本
                    td 1.0.1
                  tr
                    th 服务器地址
                    td longervisionrobot.com
                  tr
                    th 操作系统
                    td Linunx
                  tr
                    th 运行环境
                    td Nginx/1.10.3 (Ubuntu) Apache/2.4.23 (Ubuntu) OpenSSL/1.0.2j mod_fcgid/2.3.9
                  tr
                    th web服务器
                    td NodeSever/v4.2.6
                  tr
                    th 网站运行方式
                    td Nginx-Node-Koa
                  tr
                    th 数据库版本
                    td Mongo/2.6.10 Mysql/Ver 14.14 Distrib 5.7.27

                  tr
                    th ThinkPHP
                    td 5.0.18
                  tr
                    th 上传附件限制
                    td 2M
                  tr
                    th 执行时间限制
                    td 30s
                  tr
                    th 剩余空间
                    td 86015.2M
        .layui-col-md12
          .layui-card
            .layui-card-header 开发团队
            .layui-card-body
              table.layui-table
                tbody
                  tr
                    th 版权所有
                    td
                      | 南京长景机器人科技有限公司 | 
                      a(href='http://longervisionrobot.com/', target='_blank') 访问官网
                  tr
                    th 开发者
                    td LVR(postmaster@longervisionrobot.com)
        style#welcome_style.
        .layui-col-md12
          blockquote.layui-elem-quote.layui-quote-nm 感谢layui,百度Echarts,jquery,本系统由x-admin提供技术支持。
